.create-review {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Helvetica Neue, sans-serif;
}

.create-review > h2 {
    margin: 5px;
}

.create-review-button {
    padding: 10px 5px;
    margin: 10px 0px;
    width: 100%;
}

button {
    box-shadow: 1px 2px 2px;
}

.create-review-form {
    width: 17rem;
    display: flex;
    flex-flow: column;
    padding: 0px 10px;
    align-items: center;
}

.review{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
